---

---

<div class="d-flex gap-5 p-5 bg-primary text-white w-300px h-70px" style="border-radius: 10px; justify-content: space-around; align-items: center;">
    <div class="cart-product-image">
        <img src="" alt="">
    </div>
    <div class="cart-product-title">
        <span>Title</span>
    </div>
    <div class="cart-product-count">
        <span>2</span>
    </div>
    <div class="cart-product-price">
        <span>123</span>
    </div>
</div>