---
import Product from './product.astro';
import { IProduct } from '../../ts/api/products'
// import products from '../../ts/mock/products';

const {products} = Astro.props;
---

<div class="d-flex flex-wrap gap-3" id="products">
    {products && products.map( (product:IProduct) => <Product product={product}/>)}
</div>