---
    import Input from './input.astro';
    import Form from '../../layouts/Form.astro';
---


<form id="login">
    <Form title="LoginForm" btnText="Login" sourceText="If you have not account, register now" source="/register">
        <Input id="name" type="text" placeholder="Input name" textLabel="Name"/>
        <Input id="password" type="text" placeholder="Input password" textLabel="Password"/>
    </Form>
</form>
